openapi: 3.0.0
info:
  title: 'Formando Percorsi API'
  description: 'This is the API documentation for Formando Percorsi. It is a RESTful API that allows you to interact with the Formando Percorsi platform. The API is organized around REST. Our API has predictable resource-oriented URLs, accepts JSON-encoded request bodies, returns JSON-encoded responses, and uses standard HTTP response codes, authentication, and verbs.'
  contact:
    name: 'FPC DIDATTICA 4.0 S.R.L.'
    email: tech@formandopercorsi.com
  version: '1.0'
servers:
  -
    url: 'https://api.formandopercorsi.com'
    description: 'main server'
  -
    url: 'https://preprod.api.formandopercorsi.com'
    description: 'pre-production server'
  -
    url: 'https://dev.api.formandopercorsi.com'
    description: 'dev server'
paths:
  /api/auth/signin:
    post:
      tags:
        - Auth
      summary: Signin
      description: 'Signin a user using email and password. Returns a JWT token. The refresh token is set as an HttpOnly cookie (not in the response body) and is used to renew the JWT without re-entering credentials.'
      operationId: 74fba823e08bb7452c422ae12a8376ac
      requestBody:
        description: 'User login credentials'
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginForm'
      responses:
        '200':
          description: 'Successful operation'
          content:
            application/json:
              schema:
                properties:
                  status: { description: 'Status of the operation', type: string }
                  token: { description: 'JWT token', type: string }
                  category: { description: "The user's category (family, teacher, admin)", type: string, enum: [family, teacher, admin] }
                  terms_and_conditions: { description: 'Whether the user has accepted terms and conditions (1 accepted, 0 not accepted).', type: integer, example: 1 }
                type: object
        '400':
          description: 'Bad request'
        '401':
          description: Unauthorized
        '500':
          description: 'Server error'
  /api/auth/refresh-token:
    post:
      tags:
        - Auth
      summary: 'Refresh JWT token'
      description: 'Exchanges the refresh token (sent automatically as an HttpOnly cookie) for a new JWT. Issues a new refresh token cookie (rotation). Reuse of a consumed token invalidates the entire session family.'
      operationId: 77639a1c722caa16353a87adc7e6eac4
      responses:
        '200':
          description: 'Successful operation'
          content:
            application/json:
              schema:
                properties:
                  status: { description: 'Status of the operation', type: string }
                  token: { description: 'New JWT token', type: string }
                type: object
        '400':
          description: 'Bad request'
        '401':
          description: Unauthorized
        '500':
          description: 'Server error'
    delete:
      tags:
        - Auth
      summary: Signout
      description: 'Revokes all tokens in the session family (read from the HttpOnly cookie) and clears the cookie.'
      operationId: 7f5a7ca12dbdb2a6e62386bac003e99a
      responses:
        '200':
          description: 'Successful operation'
          content:
            application/json:
              schema:
                properties:
                  status: { description: 'Status of the operation', type: string }
                type: object
  /api/auth/password-reset-request:
    post:
      tags:
        - Auth
      summary: 'Request password reset'
      description: 'When this API is called, an email containing a link to a frontend page with a token is sent to the email address written in the payload. The page linked will use the reset-password API to change the password of user.'
      operationId: f7169a058c6701e43931d26de6e461dd
      requestBody:
        description: 'User email'
        required: true
        content:
          application/json:
            schema:
              properties:
                email:
                  description: "The user's email address"
                  type: string
              type: object
      responses:
        '200':
          description: 'Successful operation'
          content:
            application/json:
              schema:
                properties:
                  status: { description: 'Status of the operation', type: string }
                type: object
        '400':
          description: 'Bad request'
        '404':
          description: 'User not found'
        '500':
          description: 'Server error'
  /api/auth/reset-password:
    post:
      tags:
        - Auth
      summary: 'Reset the password'
      operationId: 070a66ce0dc9f38d50d2873e0e4f1251
      requestBody:
        description: 'User reset password token and new password'
        required: true
        content:
          application/json:
            schema:
              properties:
                token:
                  description: "The user's reset password token"
                  type: string
                password:
                  description: "The user's new password"
                  type: string
              type: object
      responses:
        '200':
          description: 'Successful operation'
          content:
            application/json:
              schema:
                properties:
                  status: { description: 'Status of the operation', type: string }
                type: object
        '400':
          description: 'Bad request'
        '404':
          description: 'Not found'
        '500':
          description: 'Server error'
  /api/auth/update-password:
    post:
      tags:
        - Auth
      summary: 'Update the password'
      operationId: 63f0212a08e2c33cbc15e180f1625ed7
      requestBody:
        description: 'User current password and new password'
        required: true
        content:
          application/json:
            schema:
              properties:
                current_password:
                  description: "The user's current password"
                  type: string
                new_password:
                  description: "The user's new password"
                  type: string
              type: object
      responses:
        '200':
          description: 'Successful operation'
          content:
            application/json:
              schema:
                properties:
                  status: { description: 'Status of the operation', type: string }
                type: object
        '400':
          description: 'Bad request'
        '401':
          description: Unauthorized
        '500':
          description: 'Server error'
  /api/auth/accept-terms:
    post:
      tags:
        - Auth
      summary: 'Accept terms and conditions'
      operationId: b33617b6594eceab76797b4a82ebc8ce
      responses:
        '200':
          description: 'Successful operation'
          content:
            application/json:
              schema:
                properties:
                  status: { type: string }
                  terms_and_conditions: { type: integer, example: 1 }
                type: object
        '401':
          description: Unauthorized
        '500':
          description: 'Server error'
      security:
        -
          BearerAuth: []
  '/api/auth/signup/{category}':
    post:
      tags:
        - Auth
      summary: Signup
      description: 'Signup a new user. Users can be families, teachers or admins and the request payload is different in the three cases.'
      operationId: 22f3703623151d6faba5a479e9e144bb
      parameters:
        -
          name: category
          in: path
          description: "The user's category (family, teacher, admin)"
          required: true
          schema:
            type: string
      requestBody:
        description: 'User signup credentials'
        required: true
        content:
          application/json:
            schema:
              oneOf:
                -
                  $ref: '#/components/schemas/FamilyCreateForm'
                -
                  $ref: '#/components/schemas/TeacherCreateForm'
                -
                  $ref: '#/components/schemas/AdminCreateForm'
      responses:
        '200':
          description: 'Successful operation'
          content:
            application/json:
              schema:
                properties:
                  status: { description: 'Status of the operation', type: string }
                type: object
        '400':
          description: 'Bad request'
        '500':
          description: 'Server error'
  /api/auth/teacher-token:
    get:
      tags:
        - Auth
      summary: 'Get a teacher token'
      operationId: ef66f42f0bc07bbebf73702cc3c67a05
      parameters:
        -
          name: page
          in: query
          description: 'Page number'
          required: false
          schema:
            type: integer
            default: 1
            example: 1
        -
          name: page_size
          in: query
          description: 'Number of items per page'
          required: false
          schema:
            type: integer
            default: 20
            example: 20
      responses:
        '200':
          description: 'Successful operation'
          content:
            application/json:
              schema:
                properties:
                  status: { description: 'Status of the operation', type: string }
                  tokens: { description: "The teacher's tokens", type: array, items: { $ref: '#/components/schemas/TeacherToken' } }
                type: object
        '400':
          description: 'Bad request'
        '500':
          description: 'Server error'
      security:
        -
          BearerAuth:
            - admin
    post:
      tags:
        - Auth
      summary: 'Generate a new teacher token'
      operationId: 5a95d32d5695dcd1da0830ee45af2a67
      requestBody:
        description: 'Teacher email'
        required: true
        content:
          application/json:
            schema:
              properties:
                email:
                  description: "The teacher's email address"
                  type: string
                teacher_application_id:
                  description: 'The teacher application ID'
                  type: integer
              type: object
      responses:
        '200':
          description: 'Successful operation'
          content:
            application/json:
              schema:
                properties:
                  status: { description: 'Status of the operation', type: string }
                  token: { description: "The teacher's token", type: string }
                type: object
        '400':
          description: 'Bad request'
        '500':
          description: 'Server error'
      security:
        -
          BearerAuth:
            - admin
    delete:
      tags:
        - Auth
      summary: 'Delete a teacher token'
      operationId: 93eae62cace3c9153551f268c0c7ba2f
      parameters:
        -
          name: token
          in: query
          description: "The teacher's token"
          required: true
          schema:
            type: string
            example: a1b2c3d4e5f6g7h8i9j0
      responses:
        '200':
          description: 'Successful operation'
          content:
            application/json:
              schema:
                properties:
                  status: { description: 'Status of the operation', type: string, example: ok }
                type: object
        '400':
          description: 'Bad request'
        '500':
          description: 'Server error'
      security:
        -
          BearerAuth:
            - admin
  /api/auth/family-confirm:
    post:
      tags:
        - Auth
      summary: 'Confirm a family user'
      operationId: 359ffd5b65bd6808423410b50da1635c
      requestBody:
        description: 'Family confirmation token'
        required: true
        content:
          application/json:
            schema:
              properties:
                token:
                  description: "The family's confirmation token"
                  type: string
                  example: a1b2c3d4e5f6g7h8i9j0
              type: object
      responses:
        '200':
          description: 'Successful operation'
          content:
            application/json:
              schema:
                properties:
                  status: { description: 'Status of the operation', type: string, example: ok }
                type: object
        '400':
          description: 'Bad request'
        '500':
          description: 'Server error'
  /api/auth/admin-confirm:
    post:
      tags:
        - Auth
      summary: 'Confirm an admin user'
      operationId: e68b3c738ff84f16849ff3f46e49e42b
      requestBody:
        description: 'Admin confirmation token and new password'
        required: true
        content:
          application/json:
            schema:
              properties:
                token:
                  description: "The admin's confirmation token"
                  type: string
                password:
                  description: "The admin's new password"
                  type: string
              type: object
      responses:
        '200':
          description: 'Successful operation'
          content:
            application/json:
              schema:
                properties:
                  status: { description: 'Status of the operation', type: string }
                type: object
        '400':
          description: 'Bad request'
        '500':
          description: 'Server error'
  /api/auth/google/link:
    post:
      tags:
        - Auth
      summary: 'Link Google account'
      description: "Links a Google account to the authenticated user. Requires a valid Google ID Token obtained via Google Sign-In on the frontend. Once linked, the user's `google_email` is stored and used for calendar sharing and Meet link generation. Returns 409 if a Google account is already linked."
      operationId: 0383820242c2c3647afcc4083ad4089c
      requestBody:
        description: 'Google ID Token'
        required: true
        content:
          application/json:
            schema:
              required:
                - google_token
              properties:
                google_token:
                  description: 'Google ID Token obtained from Google Sign-In on the frontend'
                  type: string
              type: object
      responses:
        '200':
          description: 'Google account linked successfully'
          content:
            application/json:
              schema:
                properties:
                  status: { type: string, example: ok }
                  email: { description: 'Google email address that was linked', type: string }
                type: object
        '400':
          description: 'Missing or invalid google_token'
        '409':
          description: 'A Google account is already linked to this user'
        '500':
          description: 'Server error'
      security:
        -
          bearerAuth: []
    delete:
      tags:
        - Auth
      summary: 'Unlink Google account'
      description: 'Removes the Google account linked to the authenticated user. If the teacher had calendar sync enabled, the calendar share is automatically revoked and both `google_calendar_sync_enabled` and `google_meet_link_enabled` are reset to false.'
      operationId: 0f8e6e7c066279bb3ab1ae050fe6e6d2
      responses:
        '200':
          description: 'Google account unlinked successfully'
          content:
            application/json:
              schema:
                properties:
                  status: { type: string, example: ok }
                type: object
        '400':
          description: 'No Google account is linked to this user'
        '500':
          description: 'Server error'
      security:
        -
          bearerAuth: []
  /api/auth/google/calendar-sync:
    post:
      tags:
        - Auth
      summary: 'Enable or disable Google Calendar sync'
      description: "Enables or disables sharing of the teacher's platform calendar with their linked Google account. When enabled, the teacher will see their lessons directly in Google Calendar. Requires: (1) the user to be a teacher, (2) a Google account already linked via `POST /api/auth/google/link`, (3) the teacher's `google_calendar_id` to be already provisioned (created automatically in background at teacher registration)."
      operationId: 2b208a039f4d507f07bb2bf818b4a9a6
      requestBody:
        description: 'Enable or disable calendar sync'
        required: true
        content:
          application/json:
            schema:
              required:
                - enabled
              properties:
                enabled:
                  description: "Set to true to share the calendar with the teacher's Google account, false to revoke the share"
                  type: boolean
              type: object
      responses:
        '200':
          description: 'Calendar sync preference updated'
          content:
            application/json:
              schema:
                properties:
                  status: { type: string, example: ok }
                  enabled: { type: boolean }
                type: object
        '400':
          description: 'Missing parameter, or Google account not linked'
        '403':
          description: 'User is not a teacher'
        '500':
          description: 'Teacher calendar not yet provisioned, or Google API error'
      security:
        -
          bearerAuth: []
  /api/auth/google/meet-link:
    post:
      tags:
        - Auth
      summary: 'Enable or disable automatic Meet link generation'
      description: "Enables or disables automatic Google Meet link generation for online lessons. When enabled, every online lesson event created on the teacher's calendar will include a Meet conference link. Requires: (1) the user to be a teacher, (2) a Google account already linked via `POST /api/auth/google/link`. Can be toggled independently of calendar sync."
      operationId: 6e24506fb67d7e94929b002bec07b035
      requestBody:
        description: 'Enable or disable Meet link generation'
        required: true
        content:
          application/json:
            schema:
              required:
                - enabled
              properties:
                enabled:
                  description: 'Set to true to enable automatic Meet link generation for online lessons, false to disable it'
                  type: boolean
              type: object
      responses:
        '200':
          description: 'Meet link preference updated'
          content:
            application/json:
              schema:
                properties:
                  status: { type: string, example: ok }
                  enabled: { type: boolean }
                type: object
        '400':
          description: 'Missing parameter, or Google account not linked'
        '403':
          description: 'User is not a teacher'
        '500':
          description: 'Teacher profile not found'
      security:
        -
          bearerAuth: []
  /api/availability/search:
    post:
      tags:
        - Availability
      summary: 'List availabilities'
      description: "List the availabilities for a teacher or for a family. Different parameters are used to filter the results. For teachers, parameters are used to filter their own availabilities. For families, parameters are used to filter teachers' availabilities to book a lesson."
      operationId: 97b9f2cfae6f129cb63269e8ca66cc16
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                -
                  $ref: '#/components/schemas/SearchAvailabilityTeacherAdminForm'
                -
                  $ref: '#/components/schemas/SearchAvailabilityFamilyForm'
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                oneOf:
                  - { title: 'Availabilities for teachers and admins', description: 'Teachers availabilities for teachers and admins', properties: { status: { type: string, example: ok }, pagination: { $ref: '#/components/schemas/Pagination' }, sorting: { $ref: '#/components/schemas/SortingDto' }, availabilities: { type: array, items: { allOf: [{ $ref: '#/components/schemas/Availability' }, { properties: { effective_availabilities: { type: array, items: { $ref: '#/components/schemas/EffectiveAvailability' } } }, type: object }] } } }, type: object }
                  - { title: 'Availabilities for families', description: 'Availabilities for families', properties: { status: { type: string, example: ok }, availabilities: { description: 'List of teachers with their available slots, grouped by lesson and sorted by proximity to requested times.', type: array, items: { properties: { teacher_id: { description: 'Unique identifier of the teacher.', type: integer, example: 123 }, availabilities: { description: "List of this teacher's availabilities grouped by requested lesson.", type: array, items: { properties: { selected_lesson: { description: 'Index of the requested lesson (0-based, corresponds to order in request).', type: integer, example: 0 }, exact_availabilities: { description: 'Availabilities with exact start time match (at most 1 per lesson).', type: array, items: { properties: { teacher_id: { type: integer, example: 123 }, start_date_time: { type: string, format: 'Y-m-d H:i:s', example: '2022-01-01 10:00:00' }, end_date_time: { type: string, format: 'Y-m-d H:i:s', example: '2022-01-01 11:00:00' }, distance_minutes: { description: 'Distance in minutes between availability start and requested start time.', type: integer, example: 0 } }, type: object } }, near_availabilities: { description: 'Availabilities with different start times but overlapping with the requested lesson. Sorted by proximity (distance_minutes ascending).', type: array, items: { properties: { teacher_id: { type: integer, example: 123 }, start_date_time: { type: string, format: 'Y-m-d H:i:s', example: '2022-01-01 10:15:00' }, end_date_time: { type: string, format: 'Y-m-d H:i:s', example: '2022-01-01 11:15:00' }, distance_minutes: { description: 'Distance in minutes between availability start and requested start time.', type: integer, example: 15 } }, type: object } } }, type: object } } }, type: object } }, pagination: { $ref: '#/components/schemas/Pagination' } }, type: object }
        '400':
          description: 'Bad Request'
        '403':
          description: Forbidden
        '401':
          description: Unauthorized
        '500':
          description: 'Server Error'
      security:
        -
          BearerAuth:
            - teacher
            - family
            - admin
  /api/availability/calendar:
    post:
      tags:
        - Availability
      summary: 'View availability calendar'
      description: 'View the availability calendar for a family. The family can see the availabilities of the teachers to book a lesson.'
      operationId: a4a57f8e7ae287f14d4eab89a7e475bc
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AvailabilityCalendarFamilyForm'
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                properties:
                  status: { type: string, example: ok }
                  availabilities: { description: 'List of times in which there exist availabilities with required constraints.', type: array, items: { properties: { start_date_time: { type: string, format: 'Y-m-d H:i:s', example: '2022-01-01 10:00:00' }, end_date_time: { type: string, format: 'Y-m-d H:i:s', example: '2022-01-01 11:00:00' } }, type: object } }
                type: object
        '400':
          description: 'Bad Request'
        '500':
          description: 'Server Error'
      security:
        -
          BearerAuth:
            - family
  '/api/availability/{id}':
    get:
      tags:
        - Availability
      summary: 'View availability'
      description: 'View an availability. If the user is a teacher, the availability must belong to the teacher.'
      operationId: a2a43f7c3905a88b2a28aeb311aa387d
      parameters:
        -
          name: id
          in: path
          description: 'Availability ID.'
          required: true
          schema:
            type: integer
            example: 123
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                properties:
                  status: { type: string, example: ok }
                  availability: { $ref: '#/components/schemas/Availability' }
                type: object
        '400':
          description: 'Bad Request'
        '500':
          description: 'Server Error'
      security:
        -
          BearerAuth: []
    put:
      tags:
        - Availability
      summary: 'Update availability'
      description: 'Update an availability or an availability group.'
      operationId: 2402587d64c21c386b82a3c4ad1f6037
      parameters:
        -
          name: id
          in: path
          description: 'Availability ID.'
          required: true
          schema:
            type: integer
            example: 123
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAvailabilityForm'
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                properties:
                  status: { type: string, example: ok }
                  availabilities: { $ref: '#/components/schemas/CreateAvailabilityResult' }
                type: object
        '400':
          description: 'Bad Request'
        '500':
          description: 'Server Error'
      security:
        -
          BearerAuth:
            - teacher
    delete:
      tags:
        - Availability
      summary: 'Delete availability'
      description: 'Delete an availability or an availability group.'
      operationId: 57186e696065a7190161da28cafadb84
      parameters:
        -
          name: id
          in: path
          description: 'Availability ID.'
          required: true
          schema:
            type: integer
            example: 123
        -
          name: availability_group_id
          in: query
          description: 'Availability Group ID.'
          required: false
          schema:
            type: integer
            example: 123
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                properties:
                  status: { type: string, example: ok }
                type: object
        '400':
          description: 'Bad Request'
          content:
            application/json:
              schema:
                properties:
                  status: { type: string, example: error }
                type: object
        '500':
          description: 'Server Error'
          content:
            application/json:
              schema:
                properties:
                  status: { type: string, example: error }
                type: object
      security:
        -
          BearerAuth:
            - teacher
  /api/availability:
    post:
      tags:
        - Availability
      summary: 'Create availability'
      description: 'Create an availability or an availability group.'
      operationId: 209a76abc731943a7133092ebca3a872
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAvailabilityForm'
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                properties:
                  status: { type: string, example: ok }
                  availabilities: { $ref: '#/components/schemas/CreateAvailabilityResult' }
                type: object
        '400':
          description: 'Bad Request'
        '500':
          description: 'Server Error'
      security:
        -
          BearerAuth:
            - teacher
  'api/availability-group/{id}':
    get:
      tags:
        - 'Availability Group'
      summary: 'View Availability Group'
      description: 'Retrieve details of a specific Availability Group by its ID.'
      operationId: acb2906720302ea260303134f4b20c8d
      parameters:
        -
          name: id
          in: path
          description: 'ID of the Availability Group to retrieve'
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 'Successful response with Availability Group details'
          content:
            application/json:
              schema:
                properties:
                  status: { type: string, example: ok }
                  availability_group: { $ref: '#/components/schemas/AvailabilityGroup' }
                type: object
        '400':
          description: 'Bad Request - Invalid parameters'
        '404':
          description: 'Not Found - Availability Group does not exist'
  'api/availability-group/{availabilityGroupId}/runs':
    get:
      tags:
        - 'Availability Group'
      summary: 'View Availability Group Runs'
      description: 'Retrieve the runs associated with a specific Availability Group by its ID, with pagination support.'
      operationId: 0b06d936fecdd553a191faf3908325fa
      parameters:
        -
          name: availabilityGroupId
          in: path
          description: 'ID of the Availability Group to retrieve runs for'
          required: true
          schema:
            type: integer
        -
          name: page
          in: query
          description: 'Page number for pagination'
          required: false
          schema:
            type: integer
            default: 1
        -
          name: page_size
          in: query
          description: 'Number of items per page for pagination'
          required: false
          schema:
            type: integer
            default: 10
      responses:
        '200':
          description: 'Successful response with Availability Group runs'
          content:
            application/json:
              schema:
                properties:
                  status: { type: string, example: ok }
                  runs: { type: array, items: { $ref: '#/components/schemas/AvailabilityCreationRun' } }
                  pagination: { $ref: '#/components/schemas/Pagination' }
                type: object
        '400':
          description: 'Bad Request - Invalid parameters'
        '404':
          description: 'Not Found - Availability Group does not exist'
  'api/availability-run/{id}':
    get:
      tags:
        - 'Availability Group'
      summary: 'View Availability Creation Run'
      description: 'Retrieve the details of a specific Availability Creation Run by its ID.'
      operationId: 64ef4f4004c6dbfdadad93de42816e8d
      parameters:
        -
          name: id
          in: path
          description: 'ID of the Availability Creation Run to retrieve'
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 'Successful response with Availability Creation Run details'
          content:
            application/json:
              schema:
                properties:
                  status: { type: string, example: ok }
                  run: { $ref: '#/components/schemas/AvailabilityCreationRun' }
                type: object
        '404':
          description: 'Not Found - Run does not exist'
  api/city:
    get:
      tags:
        - City
      summary: 'Get all cities or search by name'
      description: 'Get cities'
      operationId: 2ba9ccb14e99c5ec49b03f883931ea8c
      parameters:
        -
          name: page
          in: query
          description: 'Page number'
          required: false
          schema:
            type: integer
            default: 1
            example: 1
        -
          name: page_size
          in: query
          description: 'Page size'
          required: false
          schema:
            type: integer
            default: 20
            example: 20
        -
          name: search
          in: query
          description: 'Search by city name'
          required: false
          schema:
            type: string
            example: 'New York'
        -
          name: province_id
          in: query
          description: 'Filter by province id'
          required: false
          schema:
            type: integer
            example: 1
      responses:
        '200':
          description: 'Successful operation'
          content:
            application/json:
              schema:
                properties:
                  status: { type: string, example: ok }
                  pagination: { properties: { page: { type: integer, example: 1 }, page_size: { type: integer, example: 20 }, total: { type: integer, example: 100 } }, type: object }
                  cities: { type: array, items: { $ref: '#/components/schemas/City' } }
                type: object
      security:
        -
          bearerAuth: []
  '/api/contract/cgc/family/{lang}':
    get:
      tags:
        - Contract
      summary: 'Get CGC for family'
      description: 'Get CGC for family'
      operationId: 63c26392ee3a08bdc9ec4a0c4d5e9346
      parameters:
        -
          parameter: lang
          name: lang
          in: query
          description: Language
          required: false
          schema:
            type: string
            default: ita
            enum:
              - ita
      responses:
        '200':
          description: 'CGC for family'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contract'
  '/api/contract/cgc/teacher/{lang}':
    get:
      tags:
        - Contract
      summary: 'Get CGC for teacher'
      description: 'Get CGC for teacher'
      operationId: 2f74915bc306332328cab7128f863dee
      parameters:
        -
          parameter: lang
          name: lang
          in: query
          description: Language
          required: false
          schema:
            type: string
            default: ita
            enum:
              - ita
      responses:
        '200':
          description: 'CGC for teacher'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contract'
  '/api/exercise/{exerciseId}/image':
    get:
      tags:
        - Exercise
      summary: 'List images of an exercise'
      operationId: 6f7d4509c2f26692b444748ebb394752
      parameters:
        -
          name: exerciseId
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 'List of exercise images'
          content:
            application/json:
              schema:
                properties:
                  status: { type: string, example: ok }
                  items: { type: array, items: { $ref: '#/components/schemas/ExerciseImageDto' } }
                type: object
        '404':
          description: 'Exercise not found'
    post:
      tags:
        - Exercise
      summary: 'Upload an image for an exercise (admin only)'
      operationId: 023c31168e8b67fb88555f8cfe047886
      parameters:
        -
          name: exerciseId
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              required:
                - image
              properties:
                imageFile:
                  description: 'Image file (jpg, jpeg, png)'
                  type: string
                  format: binary
              type: object
      responses:
        '201':
          description: 'Image uploaded'
          content:
            application/json:
              schema:
                properties:
                  status: { type: string, example: created }
                  data: { $ref: '#/components/schemas/ExerciseImageDto' }
                type: object
        '400':
          description: 'Validation error'
        '404':
          description: 'Exercise not found'
      security:
        -
          BearerAuth:
            - admin
  '/api/exercise/{exerciseId}/image/{id}':
    get:
      tags:
        - Exercise
      summary: 'Get a single exercise image'
      operationId: fd40118c75a67875fae3301ea42cdede
      parameters:
        -
          name: exerciseId
          in: path
          required: true
          schema:
            type: integer
        -
          name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 'Exercise image'
          content:
            application/json:
              schema:
                properties:
                  status: { type: string, example: ok }
                  data: { $ref: '#/components/schemas/ExerciseImageDto' }
                type: object
        '404':
          description: 'Exercise or image not found'
    delete:
      tags:
        - Exercise
      summary: 'Delete an exercise image (admin only)'
      operationId: fdfa20fa0fc5b857d211fd29e7fa1b23
      parameters:
        -
          name: exerciseId
          in: path
          required: true
          schema:
            type: integer
        -
          name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 'Image deleted'
          content:
            application/json:
              schema:
                properties:
                  status: { type: string, example: ok }
                type: object
        '404':
          description: 'Exercise or image not found'
      security:
        -
          BearerAuth:
            - admin
  /api/family:
    get:
      tags:
        - Family
      summary: 'Get family info'
      description: 'Get family info for family users'
      operationId: familyIndex
      responses:
        '200':
          description: 'Family info'
          content:
            application/json:
              schema:
                properties:
                  status: { description: 'Status of the request', type: string }
                  user: { $ref: '#/components/schemas/GuardianFull' }
                  sons: { description: 'Sons info (user kind student)', type: array, items: { $ref: '#/components/schemas/Student' } }
                type: object
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: 'Not found'
        '500':
          description: 'Server error'
      security:
        -
          BearerAuth:
            - family
            - admin
    patch:
      tags:
        - Family
      summary: 'Update family info'
      description: 'Update family info'
      operationId: familyUpdate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FamilyUpdateForm'
      responses:
        '200':
          description: 'Family info updated'
          content:
            application/json:
              schema:
                properties:
                  status: { description: 'Status of the request', type: string, example: ok }
                  user: { $ref: '#/components/schemas/GuardianFull' }
                type: object
        '400':
          description: 'Bad request'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '500':
          description: 'Server error'
      security:
        -
          BearerAuth:
            - family
            - admin
  /api/families:
    get:
      tags:
        - Family
      summary: 'Search families'
      description: 'Search and list families.'
      operationId: dc81363225b0e7628646394810d2deb0
      parameters:
        -
          parameter: FamilySearchForm
          name: search
          in: query
          description: 'Search parameters (directly passed as query parameters, e.g. ?page=1&perPage=20&sortBy=id&sortOrder=asc&filter[name]=John). Do not pass as sub-object of search.'
          required: false
          schema:
            $ref: '#/components/schemas/FamilySearchForm'
      responses:
        '200':
          description: 'List of families matching the search criteria.'
          content:
            application/json:
              schema:
                properties:
                  status: { description: 'Status of the request', type: string, example: ok }
                  pagination: { $ref: '#/components/schemas/Pagination' }
                  sorting: { $ref: '#/components/schemas/SortingDto' }
                  families: { description: 'Array of family user info', type: array, items: { properties: { guardian: { $ref: '#/components/schemas/GuardianFull' }, students: { description: 'Array of student info', type: array, items: { $ref: '#/components/schemas/Student' } } }, type: object } }
                type: object
      security:
        -
          BearerAuth:
            - admin
  '/api/family/{id}':
    get:
      tags:
        - Family
      summary: 'User info'
      description: 'Get info about a specific user in the family'
      operationId: familyView
      parameters:
        -
          parameter: id
          name: id
          in: path
          description: 'User id'
          required: true
          example: 1
      responses:
        '200':
          description: 'Info about a specific user in the family'
          content:
            application/json:
              schema:
                properties:
                  status: { description: 'Status of the request', type: string, example: ok }
                  user: { description: 'User info', type: object, oneOf: [{ $ref: '#/components/schemas/GuardianFull' }, { $ref: '#/components/schemas/Student' }] }
                type: object
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: 'Not found'
        '500':
          description: 'Server error'
      security:
        -
          BearerAuth:
            - family
            - admin
    delete:
      tags:
        - Family
      summary: 'Delete family user'
      description: 'Delete a family user. If the user parent is deleted, all the sons will be deleted too.'
      operationId: familyDelete
      parameters:
        -
          name: id
          in: path
          description: 'User id'
          required: true
          example: 1
      responses:
        '200':
          description: 'Family deleted'
          content:
            application/json:
              schema:
                properties:
                  status: { description: 'Status of the request', type: string, example: ok }
                type: object
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '500':
          description: 'Server error'
      security:
        -
          BearerAuth:
            - family
            - admin
  api/family/confirm-email-update:
    post:
      tags:
        - Family
      summary: 'Confirm email update for the family user'
      description: 'Confirm email update for the family user using the provided token.'
      operationId: a034773bdfec771d18b44246b9d755a4
      requestBody:
        description: 'Token to confirm email update'
        required: true
        content:
          application/json:
            schema:
              required:
                - token
              properties:
                token:
                  description: 'The email update confirmation token'
                  type: string
                  example: randomly_generated_token_string
              type: object
      responses:
        '200':
          description: 'Email update confirmed'
          content:
            application/json:
              schema:
                properties:
                  status: { description: 'The status of the response', type: string, default: ok, example: ok }
                  user: { $ref: '#/components/schemas/GuardianFull' }
                type: object
        '400':
          description: 'Bad request'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '500':
          description: 'Internal server error'
      security:
        -
          BearerAuth:
            - family
  /api/family/student:
    get:
      tags:
        - 'Family Students'
      summary: 'Get family sons info'
      description: 'Get family sons info'
      operationId: studentIndex
      responses:
        '200':
          description: 'Family sons info'
          content:
            application/json:
              schema:
                properties:
                  status: { description: 'Status of the request', type: string, example: ok }
                  sons: { description: 'Sons info', type: array, items: { $ref: '#/components/schemas/Student' } }
                type: object
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '500':
          description: 'Server error'
      security:
        -
          BearerAuth:
            - family
            - admin
    post:
      tags:
        - 'Family Students'
      summary: 'Create a new student'
      description: 'Create a new student with validated data using StudentCreateForm'
      operationId: studentCreate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StudentCreateForm'
      responses:
        '200':
          description: 'Student created successfully'
          content:
            application/json:
              schema:
                properties:
                  status: { description: 'Status of the request', type: string, example: ok }
                  student: { $ref: '#/components/schemas/Student' }
                type: object
        '400':
          description: 'Bad request - validation errors'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '500':
          description: 'Server error'
      security:
        -
          BearerAuth:
            - family
            - admin
  '/api/family/student/{id}':
    get:
      tags:
        - 'Family Students'
      summary: 'Student info'
      description: 'Get info about a specific student in the family'
      operationId: studentView
      parameters:
        -
          parameter: id
          name: id
          in: path
          description: 'Student id'
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 'Info about a specific student in the family'
          content:
            application/json:
              schema:
                properties:
                  status: { description: 'Status of the request', type: string, example: ok }
                  son: { $ref: '#/components/schemas/Student' }
                type: object
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: 'Not found'
        '500':
          description: 'Server error'
      security:
        -
          BearerAuth:
            - family
            - admin
    patch:
      tags:
        - 'Family Students'
      summary: 'Update student info'
      description: 'Update student info'
      operationId: studentUpdate
      parameters:
        -
          parameter: id
          name: id
          in: path
          description: 'Student id'
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StudentUpdateForm'
      responses:
        '200':
          description: 'Student info updated'
          content:
            application/json:
              schema:
                properties:
                  status: { description: 'Status of the request', type: string, example: ok }
                  son: { $ref: '#/components/schemas/Student' }
                type: object
        '400':
          description: 'Bad request'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '500':
          description: 'Server error'
      security:
        -
          BearerAuth:
            - family
            - admin
  '/api/family/student/{id}/subject':
    get:
      tags:
        - 'Family Student Subjects'
      summary: 'Get student subjects'
      description: 'Get student subjects'
      operationId: studentSubjectIndex
      parameters:
        -
          parameter: id
          name: id
          in: path
          description: 'Student id'
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 'Student subjects'
          content:
            application/json:
              schema:
                properties:
                  status: { description: 'Status of the request', type: string, example: ok }
                  subjects: { description: 'Student subjects', type: array, items: { $ref: '#/components/schemas/Subject' } }
                type: object
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: 'Not found'
        '500':
          description: 'Server error'
      security:
        -
          BearerAuth:
            - family
            - admin
    post:
      tags:
        - 'Family Student Subjects'
      summary: 'Add a subject to a student'
      description: 'Add a subject to a student'
      operationId: studentSubjectCreate
      parameters:
        -
          parameter: id
          name: id
          in: path
          description: 'Student id'
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                subjects_id:
                  description: 'Subject IDs'
                  type: array
                  items: { type: integer }
                  example: [1, 2, 3]
              type: object
      responses:
        '200':
          description: 'Subject added to the student'
          content:
            application/json:
              schema:
                properties:
                  status: { description: 'Status of the request', type: string, example: ok }
                  subjects: { description: 'Student subjects', type: array, items: { $ref: '#/components/schemas/Subject' } }
                type: object
        '400':
          description: 'Bad request'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '500':
          description: 'Server error'
      security:
        -
          BearerAuth:
            - family
            - admin
  '/api/family/student/{id}/subject/{subject_id}':
    delete:
      tags:
        - 'Family Student Subjects'
      summary: 'Delete a subject from a student'
      description: 'Delete a subject from a student'
      operationId: studentSubjectDelete
      parameters:
        -
          parameter: id
          name: id
          in: path
          description: 'Student id'
          required: true
          schema:
            type: integer
        -
          parameter: subject_id
          name: subject_id
          in: path
          description: 'Subject id'
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 'Subject deleted from the student'
          content:
            application/json:
              schema:
                properties:
                  status: { description: 'Status of the request', type: string, example: ok }
                  subjects: { description: 'Student subjects', type: array, items: { $ref: '#/components/schemas/Subject' } }
                type: object
        '400':
          description: 'Bad request'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '500':
          description: 'Server error'
      security:
        -
          BearerAuth:
            - family
            - admin
  /api/family/teacher:
    get:
      tags:
        - 'Family Favourite Teachers'
      summary: 'Get favourite teachers'
      description: 'Get favourite teachers'
      operationId: familyFavouriteTeacherIndex
      responses:
        '200':
          description: 'Favourite teachers'
          content:
            application/json:
              schema:
                properties:
                  status: { description: 'Status of the request', type: string, example: ok }
                  teachers: { description: 'Favourite teachers. List of teachers object (for families).', type: array, items: { $ref: '#/components/schemas/TeacherPublic' } }
                type: object
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '500':
          description: 'Server error'
      security:
        -
          BearerAuth:
            - family
  '/api/family/teacher/{id}':
    get:
      tags:
        - 'Family Favourite Teachers'
      summary: 'Get teacher info'
      description: 'Get teacher info'
      operationId: familyFavouriteTeacherView
      parameters:
        -
          parameter: id
          name: id
          in: path
          description: 'Teacher id'
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 'Teacher info'
          content:
            application/json:
              schema:
                properties:
                  status: { description: 'Status of the request', type: string, example: ok }
                  teacher: { $ref: '#/components/schemas/TeacherPublic' }
                type: object
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: 'Not found'
        '500':
          description: 'Server error'
      security:
        -
          BearerAuth:
            - family
    post:
      tags:
        - 'Family Favourite Teachers'
      summary: 'Add a favourite teacher'
      operationId: 9182ec7eb870bbc25d181625b95b8b40
      parameters:
        -
          name: id
          in: path
          description: 'ID of the teacher to add as favourite'
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 'Favourite teacher added successfully'
          content:
            application/json:
              schema:
                properties:
                  status: { description: 'The status of the response', type: string, default: ok, example: ok }
                type: object
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '500':
          description: 'Internal server error'
      security:
        -
          BearerAuth:
            - family
    delete:
      tags:
        - 'Family Favourite Teachers'
      summary: 'Delete teacher from favourite list'
      description: 'Delete a teacher from the favourite list'
      operationId: familyFavouriteTeacherDelete
      parameters:
        -
          parameter: id
          name: id
          in: path
          description: 'Teacher id'
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 'Teacher deleted'
          content:
            application/json:
              schema:
                properties:
                  status: { description: 'Status of the request', type: string, example: ok }
                  teachers: { description: 'Favourite teachers', type: array, items: { $ref: '#/components/schemas/TeacherPublic' } }
                type: object
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '500':
          description: 'Server error'
      security:
        -
          BearerAuth:
            - family
  '/api/family/{family_id}/teacher/{id}':
    post:
      tags:
        - 'Family Favourite Teachers'
      summary: 'Add a favourite teacher to a family as admin'
      operationId: f581df5f6a80c1b268e74c1e8dffc433
      parameters:
        -
          name: family_id
          in: path
          description: 'ID of the family user (pater familias)'
          required: true
          schema:
            type: integer
        -
          name: id
          in: path
          description: 'ID of the teacher to add as favourite'
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 'Favourite teacher added successfully'
          content:
            application/json:
              schema:
                properties:
                  status: { description: 'The status of the response', type: string, default: ok, example: ok }
                type: object
        '400':
          description: 'Bad request'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '500':
          description: 'Internal server error'
      security:
        -
          BearerAuth:
            - admin
    delete:
      tags:
        - 'Family Favourite Teachers'
      summary: 'Remove a favourite teacher from a family as admin'
      operationId: familyFavouriteTeacherDeleteAdmin
      parameters:
        -
          name: family_id
          in: path
          description: 'ID of the family user (pater familias)'
          required: true
          schema:
            type: integer
        -
          name: id
          in: path
          description: 'ID of the teacher to remove from favourites'
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 'Favourite teacher removed successfully'
          content:
            application/json:
              schema:
                properties:
                  status: { type: string, example: ok }
                  teachers: { description: 'Updated favourite teachers list', type: array, items: { $ref: '#/components/schemas/TeacherPublic' } }
                type: object
        '400':
          description: 'Bad request'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '500':
          description: 'Internal server error'
      security:
        -
          BearerAuth:
            - admin
  '/api/family/{family_id}/teacher':
    get:
      tags:
        - 'Family Favourite Teachers'
      summary: 'Get favourite teachers of a family as admin'
      operationId: familyFavouriteTeacherIndexAdmin
      parameters:
        -
          name: family_id
          in: path
          description: 'ID of the family user (pater familias)'
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 'Favourite teachers list'
          content:
            application/json:
              schema:
                properties:
                  status: { type: string, example: ok }
                  teachers: { description: 'Favourite teachers of the family', type: array, items: { $ref: '#/components/schemas/TeacherPublic' } }
                type: object
        '400':
          description: 'Bad request'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '500':
          description: 'Internal server error'
      security:
        -
          BearerAuth:
            - admin
  /api/invoice:
    get:
      tags:
        - Invoice
      summary: 'List invoices'
      description: 'List invoices'
      operationId: b385ef4599ad0e604f48d9cbce7543e1
      parameters:
        -
          name: page
          in: query
          description: 'Page number'
          required: false
          schema:
            type: integer
            default: 1
      responses:
        '200':
          description: 'List of invoices'
          content:
            application/json:
              schema:
                properties:
                  status: { description: 'Status of the request', type: string, example: ok }
                  active_invoices: { description: 'List of active invoices (sent)', type: array, items: { $ref: '#/components/schemas/Invoice' } }
                  passive_invoices: { description: 'List of passive invoices (received)', type: array, items: { $ref: '#/components/schemas/Invoice' } }
                  pagination: { properties: { total: { type: integer, example: 100 }, page: { type: integer, example: 1 }, pageSize: { type: integer, example: 20 } }, type: object, example: { total: 100, page: 1, pageSize: 20 } }
                type: object
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '500':
          description: 'Server error'
      security:
        -
          BearerAuth: []
    post:
      tags:
        - Invoice
      summary: 'Create invoice'
      description: 'Create an invoice manually'
      operationId: d4dd6b7f80815cc1ab89f87fbb642a3b
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ManualInvoiceForm'
      responses:
        '200':
          description: 'Invoice created'
          content:
            application/json:
              schema:
                properties:
                  status: { description: 'Status of the request', type: string, example: ok }
                  invoice: { $ref: '#/components/schemas/Invoice' }
                type: object
        '400':
          description: 'Bad request'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '500':
          description: 'Server error'
      security:
        -
          BearerAuth:
            - teacher
  '/api/invoice/{id}':
    get:
      tags:
        - Invoice
      summary: 'View invoice'
      description: 'View invoice by ID'
      operationId: dd1c371f17ad0b8664cedda66c4739b3
      parameters:
        -
          name: id
          in: path
          description: 'Invoice ID'
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Invoice
          content:
            application/json:
              schema:
                properties:
                  status: { description: 'Status of the request', type: string, example: ok }
                  invoice: { $ref: '#/components/schemas/Invoice' }
                type: object
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: 'Invoice not found'
        '500':
          description: 'Server error'
      security:
        -
          BearerAuth: []
    put:
      tags:
        - Invoice
      summary: 'Update invoice'
      description: 'Update an invoice manually'
      operationId: 9216a6da46341a55fc7b362b19e7f774
      parameters:
        -
          name: id
          in: path
          description: 'Invoice ID'
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ManualInvoiceForm'
      responses:
        '200':
          description: 'Invoice updated'
          content:
            application/json:
              schema:
                properties:
                  status: { description: 'Status of the request', type: string, example: ok }
                  invoice: { $ref: '#/components/schemas/Invoice' }
                type: object
        '400':
          description: 'Bad request'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: 'Invoice not found'
        '500':
          description: 'Server error'
      security:
        -
          BearerAuth:
            - teacher
  '/api/invoice/{id}/pdf':
    get:
      tags:
        - Invoice
      summary: 'View invoice PDF'
      description: 'View invoice PDF by ID'
      operationId: 9784cf2002b27f01d577b6a4d451ac9e
      parameters:
        -
          name: id
          in: path
          description: 'Invoice ID'
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 'Invoice PDF'
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: 'Invoice not found'
        '500':
          description: 'Server error'
      security:
        -
          BearerAuth: []
  '/api/invoice/{id}/xml':
    get:
      tags:
        - Invoice
      summary: 'View invoice XML'
      description: 'View invoice XML by ID'
      operationId: aa4890888314154e3521d316c120bc48
      parameters:
        -
          name: id
          in: path
          description: 'Invoice ID'
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 'Invoice XML'
          content:
            application/xml:
              schema:
                type: string
                format: binary
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: 'Invoice not found'
        '500':
          description: 'Server error'
      security:
        -
          BearerAuth: []
  /api/invoice/credit-note:
    post:
      tags:
        - CreditNote
      summary: 'Create a credit note invoice'
      description: 'Create a credit note invoice manually'
      operationId: 1474d3f625a111ecb83b2e536daf1fa8
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ManualCreditNoteForm'
      responses:
        '200':
          description: 'Credit note invoice created'
          content:
            application/json:
              schema:
                properties:
                  status: { description: 'Status of the request', type: string, example: ok }
                  credit_note: { $ref: '#/components/schemas/Invoice' }
                type: object
        '400':
          description: 'Bad request'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '500':
          description: 'Server error'
      security:
        -
          BearerAuth:
            - teacher
  /api/invoice/active:
    get:
      tags:
        - Invoice
      summary: 'List active invoices'
      description: 'List active invoices (sent)'
      operationId: ef0218384b9146f8c0ad308464ca672c
      parameters:
        -
          name: page
          in: query
          description: 'Page number'
          required: false
          schema:
            type: integer
            default: 1
      responses:
        '200':
          description: 'List of active invoices'
          content:
            application/json:
              schema:
                properties:
                  status: { description: 'Status of the request', type: string, example: ok }
                  invoices: { description: 'List of active invoices (sent)', type: array, items: { $ref: '#/components/schemas/Invoice' } }
                  pagination: { properties: { total: { description: 'Total number of invoices', type: integer, example: 100 }, page: { description: 'Current page', type: integer, example: 1 }, pageSize: { description: 'Number of invoices per page', type: integer, example: 20 } }, type: object, example: { total: 100, page: 1, pageSize: 20 } }
                type: object
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '500':
          description: 'Server error'
      security:
        -
          BearerAuth: []
  /api/invoice/passive:
    get:
      tags:
        - Invoice
      summary: 'List passive invoices'
      description: 'List passive invoices (received)'
      operationId: 3cd8373f9e4d59e3778343d2aabfec42
      parameters:
        -
          name: page
          in: query
          description: 'Page number'
          required: false
          schema:
            type: integer
            default: 1
      responses:
        '200':
          description: 'List of passive invoices'
          content:
            application/json:
              schema:
                properties:
                  status: { description: 'Status of the request', type: string, example: ok }
                  invoices: { description: 'List of passive invoices (received)', type: array, items: { $ref: '#/components/schemas/Invoice' } }
                  pagination: { properties: { total: { description: 'Total number of invoices', type: integer, example: 100 }, page: { description: 'Current page', type: integer, example: 1 }, pageSize: { description: 'Number of invoices per page', type: integer, example: 20 } }, type: object, example: { total: 100, page: 1, pageSize: 20 } }
                type: object
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '500':
          description: 'Server error'
      security:
        -
          BearerAuth: []
  /api/invoice/historical:
    get:
      tags:
        - Invoice
      summary: 'Get data of historical clients'
      description: 'Get data of clients already in historical invoices emitted in the last two years. Returned data are sufficient to emit a new invoice to the client.'
      operationId: 05145ed2b258440a979496333097f521
      responses:
        '200':
          description: 'List of historical clients'
          content:
            application/json:
              schema:
                properties:
                  status: { description: 'Status of the request', type: string, example: ok }
                  clients: { description: 'List of historical clients', type: array, items: { properties: { kind: { description: 'Client kind', type: string, enum: [person, company], example: person }, first_name: { description: 'Client name', type: string, example: John }, last_name: { description: 'Client last name', type: string, example: Doe }, company_name: { description: 'Client company name', type: string, example: ACME }, vat_number: { description: 'Client VAT number', type: string, example: '12345678901' }, street_name: { description: 'Client street', type: string, example: 'Via Roma' }, street_number: { description: 'Client street number', type: string, example: '1' }, zip_code: { description: 'Client zip code', type: string, example: '44121' }, city: { $ref: '#/components/schemas/City' }, province: { $ref: '#/components/schemas/Province' }, cf: { description: 'Client fiscal code', type: string, example: ABCDEF01G23H456I }, email_address: { description: 'Client email', type: string, example: example@email.com }, destination_id: { description: 'destination code if exists', type: string, example: '1234567' } }, type: object } }
                type: object
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '500':
          description: 'Server error'
      security:
        -
          BearerAuth:
            - teacher
            - admin
  '/api/invoice/{id}/confirm-external':
    post:
      tags:
        - Invoice
      summary: 'Confirm external invoice emission'
      description: 'Marks an external invoice or credit note as confirmed by the provider. Optionally accepts the actual invoice number and emission date issued by the provider.'
      operationId: 39bc43a8c4cb50e56b8f600543d99a68
      parameters:
        -
          name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: false
        content:
          application/json:
            schema:
              properties:
                number:
                  description: "Provider's own invoice number (e.g. 5/2026)"
                  type: string
                  nullable: true
                date:
                  description: 'Actual emission date (Y-m-d)'
                  type: string
                  format: date
                  nullable: true
              type: object
      responses:
        '200':
          description: 'Invoice confirmed'
        '400':
          description: 'Invoice is not in external_pending status or date format is invalid'
        '403':
          description: 'Forbidden — not the provider of this invoice'
        '404':
          description: 'Invoice not found'
      security:
        -
          BearerAuth: []
  /api/invoice-legislation:
    get:
      tags:
        - InvoiceLegislation
      summary: 'List all VAT types with fiscal parameters'
      description: 'Public endpoint. Returns one entry per vat_type with label, IVA rate, bollo value and threshold, SDI nature, legislation reference, regime fiscale, manual-handling flag, and VAT requirement flags.'
      operationId: 4e92aa1ab5e854fb60251d3d780d577e
      responses:
        '200':
          description: 'Successful operation'
          content:
            application/json:
              schema:
                type: array
                items:
                  properties: { value: { type: string, example: forfettario }, label: { type: string, example: 'Regime forfettario' }, iva: { type: number, example: 0, nullable: true }, bollo_value: { type: number, example: 2, nullable: true }, bollo_threshold: { type: number, example: 77.47 }, nature: { type: string, example: N2.2, nullable: true }, legislation: { type: string, example: 'Art. 1 c. 54-89 L. 190/2014', nullable: true }, regime_fiscale: { type: string, example: RF19, nullable: true }, is_manual_handling: { type: boolean, example: false }, requires_vat: { description: 'True for all types except occasionale', type: boolean, example: true }, forbids_vat: { description: 'True only for occasionale', type: boolean, example: false }, cassa_tipo: { type: string, example: TC04, nullable: true }, contributo_integrativo_rate: { type: number, example: null, nullable: true }, ritenuta_rate: { type: number, example: null, nullable: true } }
                  type: object
  /api/invoice-legislation/meta:
    get:
      tags:
        - InvoiceLegislation
      summary: 'Invoice status and document type labels'
      description: 'Public endpoint. Returns display labels for all invoice statuses and document types.'
      operationId: c558595e2dc8f01972d3164177eda4f7
      responses:
        '200':
          description: 'Successful operation'
          content:
            application/json:
              schema:
                properties:
                  statuses: { description: 'Map of invoice status constant → Italian label', type: object, example: { external_pending: 'In attesa di emissione', external_confirmed: 'Emissione confermata', pending: 'In attesa', sent: Inviata, accepted: Accettata, rejected: Rifiutata, notdelivered: 'Non consegnata', quarantena: 'In quarantena' } }
                  document_types: { description: 'Map of document type code → Italian label', type: object, example: { TD01: Fattura, TD04: 'Nota di credito', RICEVUTA: 'Ricevuta per compenso occasionale', RIMBORSO: 'Rimborso ricevuta' } }
                type: object
  /api/lesson:
    get:
      tags:
        - Lesson
      summary: 'List all lesson'
      description: 'List all lesson scheduled. It can be used both by family and teacher to list all lessons. The list can be filtered by date, location, and other parameters.'
      operationId: 7bf327482cbab44e36fb1d654f7ef925
      parameters:
        -
          name: LessonSearchForm
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/LessonSearchForm'
      responses:
        '200':
          description: 'Successful operation'
          content:
            application/json:
              schema:
                properties:
                  status: { description: 'Status of the operation', type: string }
                  pagination: { $ref: '#/components/schemas/Pagination' }
                  sorting: { $ref: '#/components/schemas/SortingDto' }
                  lessons: { description: 'List of lessons', type: array, items: { $ref: '#/components/schemas/Lesson' } }
                type: object
        '400':
          description: 'Invalid data'
        '401':
          description: Unauthorized
        '500':
          description: 'Internal server error'
  '/api/lesson/{id}':
    get:
      tags:
        - Lesson
      summary: 'View a lesson'
      description: 'View a lesson by ID'
      operationId: c3cde82cc6b17bf49ff0515fdb9e68b9
      parameters:
        -
          name: id
          in: path
          description: 'ID of the lesson'
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 'Successful operation'
          content:
            application/json:
              schema:
                properties:
                  status: { description: 'Status of the operation', type: string }
                  lesson: { $ref: '#/components/schemas/Lesson' }
                type: object
        '400':
          description: 'Invalid data'
        '401':
          description: Unauthorized
        '500':
          description: 'Internal server error'
    delete:
      tags:
        - Lesson
      summary: 'Delete a lesson'
      description: 'Delete a lesson'
      operationId: 0216b68b7ca78c3e97ac2df05ec2c42d
      parameters:
        -
          name: id
          in: path
          description: 'ID of the lesson to delete'
          required: true
          schema:
            type: integer
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteSingleLessonForm'
      responses:
        '200':
          description: 'Successful operation'
          content:
            application/json:
              schema:
                properties:
                  status: { description: 'Status of the operation', type: string }
                type: object
        '400':
          description: 'Invalid data'
          content:
            application/json:
              schema:
                properties:
                  status: { description: 'Status of the operation', type: string }
                type: object
  /api/lesson/available-locations:
    get:
      tags:
        - Lesson
      summary: 'List available lesson locations'
      description: 'List all available lesson locations'
      operationId: 70a23c016a3ca09a64706d51f8013da8
      parameters:
        -
          name: 'Available locations form'
          in: query
          required: true
          schema:
            $ref: '#/components/schemas/AvailableLocationsForm'
      responses:
        '200':
          description: 'Successful operation'
          content:
            application/json:
              schema:
                properties:
                  status: { description: 'Status of the operation', type: string }
                  locations: { description: 'List of available locations', type: array, items: { properties: { location: { description: Location, type: string, enum: [home, online, headquarter], example: home }, enabled: { description: 'Is the location available', type: boolean, example: true }, min_lessons_for_week: { description: 'Minimum number of lessons for a week required to book this location. It is 0 if location is not enabled.', type: integer, example: 1 } }, type: object } }
                type: object
        '400':
          description: 'Invalid data'
  /api/lesson/available-lengths:
    get:
      tags:
        - Lesson
      summary: 'List available lesson lengths'
      description: 'List all available lesson lengths'
      operationId: 26406848ab98a98d57846ea72e62115e
      parameters:
        -
          name: 'Available lenghts form'
          in: query
          required: true
          schema:
            $ref: '#/components/schemas/AvailableLengthsForm'
      responses:
        '200':
          description: 'Successful operation'
          content:
            application/json:
              schema:
                properties:
                  status: { description: 'Status of the operation', type: string }
                  lengths: { description: 'List of available lengths', type: array, items: { properties: { length: { description: 'Length of the lesson in hours', type: number, format: float, example: 1.5 }, enabled: { description: 'Is the length available', type: boolean, example: true }, min_lessons_for_week: { description: 'Minimum number of lessons for a week required to book this length. It is 0 if length is not enabled.', type: integer, example: 1 } }, type: object } }
                type: object
        '400':
          description: 'Invalid data'
  /api/lesson/available-trainings:
    get:
      tags:
        - Lesson
      summary: 'List available trainings for user'
      description: 'List all available trainings for a user'
      operationId: d82e271a0ae5df56d0d5a9b8951129be
      responses:
        '200':
          description: 'Successful operation'
          content:
            application/json:
              schema:
                properties:
                  status: { description: 'Status of the operation', type: string }
                  trainings: { description: 'List of available lengths', type: array, items: { properties: { training: { $ref: '#/components/schemas/TrainingType' }, min_lessons_for_week: { description: 'Minimum number of lessons for a week required to book this training. It is 0 if training is not enabled.', type: integer, example: 1 }, enabled: { description: 'Is the length available', type: boolean, example: true } }, type: object } }
                type: object
        '400':
          description: 'Invalid data'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '500':
          description: 'Internal server error'
  /api/lesson/available-subjects:
    get:
      tags:
        - Lesson
      summary: 'List available subjects for student'
      description: 'List all available subjects for a student'
      operationId: c7f649378953f72e6a00a65845e820c6
      parameters:
        -
          name: 'Available subjects form'
          in: query
          required: true
          schema:
            $ref: '#/components/schemas/AvailableSubjectsForm'
      responses:
        '200':
          description: 'Successful operation'
          content:
            application/json:
              schema:
                properties:
                  status: { description: 'Status of the operation', type: string }
                  subjects: { description: 'List of available subjects for the student. All subjects of the student are returned with an enabled parameter.', type: array, items: { properties: { subject: { $ref: '#/components/schemas/Subject' }, enabled: { description: 'Is the subject available', type: boolean, example: true }, min_lessons_for_week: { description: 'Minimum number of lessons for a week required to book this subject. It is 0 if subject is not enabled.', type: integer, example: 1 } }, type: object } }
                type: object
        '400':
          description: 'Invalid data'
  /api/lesson/available-teachers:
    get:
      tags:
        - Lesson
      summary: 'List available teachers'
      description: 'List all available teachers'
      operationId: b7bff8b23fb9f0d0708912117e9b5b2f
      parameters:
        -
          name: 'Available teachers form'
          in: query
          required: true
          schema:
            $ref: '#/components/schemas/AvailableTeachersForm'
      responses:
        '200':
          description: 'Successful operation'
          content:
            application/json:
              schema:
                properties:
                  status: { description: 'Status of the operation', type: string }
                  teachers: { description: 'List of available teachers', type: array, items: { properties: { teacher: { $ref: '#/components/schemas/User' }, enabled: { description: 'Is the subject available', type: boolean, example: true } }, type: object } }
                type: object
        '400':
          description: 'Invalid data'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '500':
          description: 'Internal server error'
  /api/lesson/training:
    get:
      tags:
        - Lesson
      summary: 'List training types'
      description: 'List all available training types.'
      operationId: 6bbcd9cffc101e980a83e7628f9ad783
      responses:
        '200':
          description: 'Successful operation'
          content:
            application/json:
              schema:
                properties:
                  status: { type: string }
                  trainings: { type: array, items: { $ref: '#/components/schemas/TrainingType' } }
                type: object
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '500':
          description: 'Internal server error'
    post:
      tags:
        - Lesson
      summary: 'Create a training'
      description: 'Create a training for a student and return the payment URL to pay for the lesson. The lesson will be created in the system but it is confirmed only when payment is confirmed by Stripe. Warning: This is a feature under development. Only non-periodical trainings can be created at this time.'
      operationId: 2e1a59370a25bdf8a912be3d98c62c71
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTrainingForm'
      responses:
        '200':
          description: 'Successful operation'
          content:
            application/json:
              schema:
                properties:
                  status: { description: 'Status of the operation', type: string }
                  payment_url: { description: 'URL to pay for the lesson', type: string }
                  lessons: { description: 'Lesson details', type: array, items: { $ref: '#/components/schemas/Lesson' } }
                type: object
        '400':
          description: 'Invalid data'
          content:
            application/json:
              schema:
                properties:
                  status: { description: 'Status of the operation', type: string }
                type: object
  '/api/lesson/training/{id}':
    get:
      tags:
        - Lesson
      summary: 'View a training type'
      description: 'Return details of a training type by ID.'
      operationId: dbbeed4c132f4e51e9ca05d73d3fe716
      parameters:
        -
          name: id
          in: path
          description: 'ID of the training type'
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 'Successful operation'
          content:
            application/json:
              schema:
                properties:
                  status: { type: string }
                  training: { $ref: '#/components/schemas/TrainingType' }
                type: object
        '400':
          description: 'Invalid data'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '500':
          description: 'Internal server error'
  /api/lesson/available-sons:
    get:
      tags:
        - Lesson
      summary: 'List available sons for a lesson'
      description: 'List all available sons for a lesson or a training'
      operationId: c60e60ad93b5466ab374fdf5d91a6345
      parameters:
        -
          name: 'Available sons form'
          in: query
          required: true
          schema:
            $ref: '#/components/schemas/AvailableSonsForm'
      responses:
        '200':
          description: 'Successful operation'
          content:
            application/json:
              schema:
                properties:
                  status: { description: 'Status of the operation', type: string }
                  sons: { description: 'List of available sons', type: array, items: { properties: { son: { $ref: '#/components/schemas/User' }, enabled: { description: 'Is the son available', type: boolean, example: true } }, type: object } }
                type: object
        '400':
          description: 'Invalid data'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '500':
          description: 'Internal server error'
  /api/lesson/single:
    post:
      tags:
        - Lesson
      summary: 'Create a single lesson'
      description: 'Create a single lesson for a student and return the payment URL to pay for the lesson. The lesson will be created in the system but it is confirmed only when payment is confirmed by Stripe.'
      operationId: c1533f5fc3c87f1d0c0905381fbeef58
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSingleLessonForm'
      responses:
        '200':
          description: 'Successful operation'
          content:
            application/json:
              schema:
                properties:
                  status: { description: 'Status of the operation', type: string }
                  payment_url: { description: 'URL to pay for the lesson. If the lesson is free, it is null and the lesson is confirmed immediately, without any payment.', type: string|null }
                  lesson: { $ref: '#/components/schemas/Lesson' }
                type: object
        '400':
          description: 'Validation failed'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
  '/api/lesson/single/<lessonid:\d>':
    put:
      tags:
        - Lesson
      summary: 'Modify a lesson'
      description: 'Modify a lesson'
      operationId: f6fdc7104ae9ad2371ae9000f67d58e3
      parameters:
        -
          name: lessonid
          in: path
          description: 'ID of the lesson'
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModifySingleLessonForm'
      responses:
        '200':
          description: 'Successful operation'
          content:
            application/json:
              schema:
                properties:
                  status: { description: 'Status of the operation', type: string }
                  lesson: { $ref: '#/components/schemas/Lesson' }
                type: object
        '400':
          description: 'Invalid data'
          content:
            application/json:
              schema:
                properties:
                  status: { description: 'Status of the operation', type: string }
                type: object
  /api/lesson/request:
    post:
      tags:
        - Lesson
      summary: 'Request a lesson'
      description: 'Request a lesson for a student'
      operationId: 725ab63491e6ec1c3a90a4dc0a8fc56c
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestLessonForm'
      responses:
        '200':
          description: 'Successful operation'
          content:
            application/json:
              schema:
                properties:
                  status: { description: 'Status of the operation', type: string }
                  request: { $ref: '#/components/schemas/Request' }
                type: object
        '400':
          description: 'Invalid data'
          content:
            application/json:
              schema:
                properties:
                  status: { description: 'Status of the operation', type: string }
                  message: { description: 'Error message', type: string }
                type: object
  '/api/lesson/propose/{request_id}':
    post:
      tags:
        - Lesson
      summary: 'Propose a lesson'
      description: 'Propose a lesson for a lesson request'
      operationId: 68045417bf9e22d393ed4bd7b6390f4a
      parameters:
        -
          name: request_id
          in: path
          description: 'ID of the lesson request'
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProposeLessonForm'
      responses:
        '200':
          description: 'Successful operation'
          content:
            application/json:
              schema:
                properties:
                  status: { description: 'Status of the operation', type: string }
                  propose: { $ref: '#/components/schemas/RequestProposal' }
                type: object
        '400':
          description: 'Invalid data'
          content:
            application/json:
              schema:
                properties:
                  status: { description: 'Status of the operation', type: string }
                type: object
  /api/lesson/propose:
    get:
      tags:
        - Lesson
      summary: 'List proposes'
      description: 'List all proposes for a lesson request'
      operationId: 69748a8df1dddc0b424545a655a24080
      responses:
        '200':
          description: 'Successful operation'
          content:
            application/json:
              schema:
                properties:
                  status: { description: 'Status of the operation', type: string }
                  proposes: { description: 'List of proposes', type: array, items: { $ref: '#/components/schemas/RequestProposal' } }
                type: object
        '400':
          description: 'Invalid data'
          content:
            application/json:
              schema:
                properties:
                  status: { description: 'Status of the operation', type: string }
                type: object
  '/api/lesson/propose/{propose_id}':
    get:
      tags:
        - Lesson
      summary: 'View a propose'
      description: 'View a propose for a lesson request'
      operationId: 9ec4f6ba5add10991a08517a1043f341
      parameters:
        -
          name: propose_id
          in: path
          description: 'ID of the propose'
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 'Successful operation'
          content:
            application/json:
              schema:
                properties:
                  status: { description: 'Status of the operation', type: string }
                  propose: { $ref: '#/components/schemas/RequestProposal' }
                type: object
        '400':
          description: 'Invalid data'
          content:
            application/json:
              schema:
                properties:
                  status: { description: 'Status of the operation', type: string }
                  message: { description: 'Error message', type: string }
                type: object
    delete:
      tags:
        - Lesson
      summary: 'Cancel a propose'
      description: 'Cancel a propose for a lesson request'
      operationId: 39ba34afdf86cd97d7dfbc7913c8c66b
      parameters:
        -
          name: propose_id
          in: path
          description: 'ID of the propose'
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 'Successful operation'
          content:
            application/json:
              schema:
                properties:
                  status: { description: 'Status of the operation', type: string }
                  message: { description: Message, type: string }
                type: object
        '400':
          description: 'Invalid data'
          content:
            application/json:
              schema:
                properties:
                  status: { description: 'Status of the operation', type: string }
                  message: { description: 'Error message', type: string }
                type: object
  '/api/lesson/propose/{propose_id}/accept':
    post:
      tags:
        - Lesson
      summary: 'Accept a propose'
      description: 'Accept a propose for a lesson request'
      operationId: 44ba402bc74e1937efead1b491cb9c3e
      parameters:
        -
          name: propose_id
          in: path
          description: 'ID of the propose'
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 'Successful operation'
          content:
            application/json:
              schema:
                properties:
                  status: { description: 'Status of the operation', type: string }
                  lesson: { $ref: '#/components/schemas/Lesson' }
                type: object
        '400':
          description: 'Invalid data'
          content:
            application/json:
              schema:
                properties:
                  status: { description: 'Status of the operation', type: string }
                  message: { description: 'Error message', type: string }
                type: object
  /api/lesson/price:
    get:
      tags:
        - Lesson
      summary: 'Get lesson price'
[...]
